.form-inline{
    border: none;
}
.navbar {
    height: 80px;
    background: #E9ECEF;
    border-style: none none solid none;
    border-width: 1px;
}


.navbar-div-left .input-search {
    width: 400px;
    margin-inline: 20px;
}

.sidebar {
    width: 250px;
    margin-top: 90px;
    color: #fff;
    padding: 8px;
}

.sidebar-heading{
    padding: 8px;
}
.username {
    font-size: 108%;
    font-weight: bold;
    color: darkslateblue;
}

.image-avatar {
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
}

.sidebar > ul li > a {
    text-decoration: underline;
    color: darkslateblue;
}

.sidebar .btn-logout {
    height: 40px;
    width: 70%;
    margin: auto;
    position: absolute;
    bottom: 100px;
    transform: translate(0%, 0);
    color: #fff;
}

.div-middle {
    margin-top: 100px;
    margin-left: 250px;
    width: calc(95% - 250px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-container {
    position: relative;
    width: 100%;
    max-width: 1080px;
    border-radius: 6px;
    background: #E9ECEF;
    padding-inline: 15px;
    padding-top: 15px;
    padding-bottom: 40px;
    margin-bottom: 15px;
}

.blog-container h1, .blog-container h2, .blog-container h3 {
    font-size: 1.35em;
}

 .author {
    font-weight: bold;
    color: darkslateblue;
}
.blog-container .blog-category {
    font-weight: bold;
    color: #6f42c1;
    text-decoration: underline;
}

.blog-container .blog-heading .span-date {
    font-size: 80%;
    font-style: italic;
    font-weight: lighter;
}

.blog-container .blog-heading .span-category {
    font-weight: bold;
}

.blog-container .dropMenu-edit {
    position: absolute;
    bottom: 0;
    right: 0;
}

.blog-container .blog-tittle {
    color: blue;
    font-weight: bold;
    margin-left: 15px;
    font-size: 120%;
}
.blog-container .btn-view-blog {
    font-size: 85%;
    position: absolute;
    bottom: -50px;
    left: 0;
    margin: 15px;
    padding: 15px;
}

.blog-container .blog-content-preview {
    margin-left: 25px;
}

@media only screen and (max-width: 600px) {
    nav.sidebar {
        width: 100px;
    }

    nav.sidebar .sidebar-heading {
        flex-direction: column;
    }

    .div-middle {
        margin-left: 100px;
        width: calc(90% - 100px);
    }
}

@media only screen and (max-width: 1380px) {
    nav.sidebar {
        width: 200px;
    }

    nav.sidebar .sidebar-heading {
        flex-direction: column;
    }

    .div-middle {
        margin-left: 200px;
        width: calc(95% - 200px);
    }
}