
.navbar {
    height: 80px;
    background: #E9ECEF;
    border-style: none none solid none;
    border-width: 1px;
}


.navbar-div-left .input-search {
    width: 400px;
    margin-inline: 20px;
}

nav.sidebar {
    width: 250px;
    top: 79px;
    height: 100vh;
    background: #E9ECEF;
    color: #fff;
    padding: 20px;
    border-radius: 0;
    border: 1px solid black;
}
.username {
    font-size: 108%;
    font-weight: bold;
    color: darkslateblue;
}
.sidebar>ul li>a {
    text-decoration: underline;
    color: darkslateblue;
}

.div-middle{
    margin-top: 100px;
    width: calc(90% - 250px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-container {
    position: relative;
    width: 100%;
    max-width: 860px;
    border-radius: 6px;
    background: #E9ECEF;
    padding: 15px;
}

.blog-container .blog-heading .author {
    font-weight: bold;
    color: darkslateblue;
}


.blog-title {
    font-weight: bold;
    text-decoration: underline;
}
.blog-container .blog-heading .span-date {
    font-size:80%;
    font-style: italic;
    font-weight: lighter;
}
.blog-container .blog-heading .span-category {
    font-weight: bold;
}

.blog-container .dropMenu-edit {
    position: absolute;
    bottom: 0;
    right: 0;
}
.image-avatar{
    width: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 600px) {
    nav.sidebar {
        width: 100px;
    }
    nav.sidebar .sidebar-heading {
        flex-direction: column;
    }

    .div-middle {
        margin-left: 100px;
        width: calc(90% - 100px );
    }
}
@media only screen and (max-width: 1380px) {
    nav.sidebar {
        width: 150px;
    }
    nav.sidebar .sidebar-heading {
        flex-direction: column;
    }

    .div-middle {
        margin-left: 150px;
        width: calc(90% - 150px );
    }
}